{% extends "base.html" %}

{% block main %}
<h1 class="flielisting-header">A List of All The Profiles</h1>
<div>
        <form action="{{ url_for('profiles') }}" method="post"  enctype="application/json">
            To see profiles in JSON Format <button class="submit1" type="submit">POST</button>
        </form>
    </div>

    {% for items in profiles %}
    <div class="profiles">
    	<div class="profilepic">
        <img class="profilepic" src= "{{url_for ('static', filename = "uploads/" + items.image)}}">
    	</div>
    	<div class="profileinfo">
        <p><h2 class= "heading-name">{{items.first_name }} {{items.last_name }}</h2></p>
        <p><strong>Profile Created On:</strong> {{items.date }}</p>
        <br>
        <p><strong>Username:</strong> {{items.username }}</p>
        <p><strong>UserID:</strong> {{items.id }}</p>
        <p><strong>Gender:</strong> {{items.gender }}</p>
        <p><strong>Age:</strong> {{items.age}}</p>
        <br>
        <p><em>{{items.biography }}</em></p>
   		</div>
   	</div>
    {% endfor %}
 
{% endblock %}